html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.counter { float: left; width: 595px; margin: auto auto 0; display: block; text-align: center; }
.counter p { margin-bottom: 5px; position: static; color: white; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; font-size: 15px; text-transform: uppercase; margin-top: 20px; }
.counter p.counterTitle { font-size: 20px; text-align: left; margin-top: 10px; margin-bottom: 40px; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-transform: uppercase; }
.counter ul { list-style: none; margin: 0; padding: 0; display: inline-block; }
.counter ul li { float: left; margin: 0 5px 0 -10px; text-align: center; position: relative; }
.counter ul li:first-child { margin-left: 0; }
.counter ul li:last-of-type { background: url(../img/seconds_bg.png) no-repeat -32px -32px; height: 196px; width: 212px; }
.counter ul li:last-of-type p { padding-right: 86px; }
.counter ul li span { text-shadow: 0 1px 0 white; display: block; font-size: 45px; width: 129px; height: 129px; padding-right: 1px; color: white; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; border: #e83b3b solid 10px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: rgba(0, 0, 0, 0.23); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; box-sizing: border-box; padding-top: px; line-height: 2em; }

.radio_toolbar { *zoom: 1; margin-top: 15px; margin-left: 10px; }
.radio_toolbar:after { content: " "; display: table; clear: both; }
.radio_toolbar input { display: none; }
.radio_toolbar label { display: inline-block; font-family: "helveticaneuecyrlight"; font-size: 14px; color: #c4c4c4; float: left; margin-right: 10px; }
.radio_toolbar label:last-of-type { margin-right: 0; }
.radio_toolbar span { position: relative; display: inline-block; background: url('../img/icons-s71d911583d.png') 0 -499px no-repeat; width: 18px; height: 18px; top: 3px; padding-right: 10px; }
.radio_toolbar input[type="radio"]:checked + label { color: #f24b4b; }
.radio_toolbar input[type="radio"]:checked + label > span { background: url('../img/icons-s71d911583d.png') 0 -379px no-repeat; width: 18px; height: 18px; }
.radio_toolbar input[type="radio"]:not(:checked) + label:hover { color: white; }
.radio_toolbar input[type="radio"]:not(:checked) + label:hover span { background: url('../img/icons-s71d911583d.png') 0 -527px no-repeat; width: 18px; height: 18px; }

input { -webkit-border-radius: 3px/3px 3px 3px 3px; -moz-border-radius: 3px/3px 3px 3px 3px; -ms-border-radius: 3px/3px 3px 3px 3px; -o-border-radius: 3px/3px 3px 3px 3px; border-radius: 3px/3px 3px 3px 3px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background: white; box-sizing: border-box; height: 37px; width: 260px; display: block; font-size: 16px; font-family: "helveticaneuecyrroman"; margin-bottom: 18px; padding-left: 32px; }
input:focus { border: 1px solid rgba(255, 0, 0, 0.75); -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
input.name { background: white url(../img/name_input.png) no-repeat 10px 11px; }
input.phone { background: white url(../img/phone_input.png) no-repeat 10px 11px; }

.button { margin-top: 7px; height: 55px; -webkit-border-radius: 2px/2px 2px 2px 2px; -moz-border-radius: 2px/2px 2px 2px 2px; -ms-border-radius: 2px/2px 2px 2px 2px; -o-border-radius: 2px/2px 2px 2px 2px; border-radius: 2px/2px 2px 2px 2px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background: red; -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.39), inset 0 -4px 0 rgba(0, 0, 0, 0.32), inset 0 0 2px rgba(255, 171, 171, 0.75); -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.39), inset 0 -4px 0 rgba(0, 0, 0, 0.32), inset 0 0 2px rgba(255, 171, 171, 0.75); box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.39), inset 0 -4px 0 rgba(0, 0, 0, 0.32), inset 0 0 2px rgba(255, 171, 171, 0.75); background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #ee0000), color-stop(100%, #ff3131)); background: -webkit-linear-gradient(to bottom, #ee0000 0%, #ff3131 100%); background: -moz-linear-gradient(to bottom, #ee0000 0%, #ff3131 100%); background: -o-linear-gradient(to bottom, #ee0000 0%, #ff3131 100%); background: linear-gradient(to bottom, #ee0000 0%, #ff3131 100%); box-sizing: border-box; font-family: "helveticaneuecyrbold"; color: #f3f3f2; text-transform: uppercase; font-size: 18px; padding: 0 73px; text-shadow: 0px 0px 1px #aaaaaa; }
.button:hover { -webkit-box-shadow: 0 0 60px -5px #ff3131; -moz-box-shadow: 0 0 60px -5px #ff3131; box-shadow: 0 0 60px -5px #ff3131; }

.prev { position: absolute; content: ""; top: 44%; left: -52px; background: black; width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; padding-left: 13px; padding-top: 11px; box-sizing: border-box; cursor: pointer; z-index: 1; }
.prev:hover { background: #f61818; }

.next { position: absolute; content: ""; top: 44%; right: -33px; background: black; width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; padding-left: 15px; padding-top: 11px; box-sizing: border-box; cursor: pointer; z-index: 1; }
.next:hover { background: #f61818; }

.header_form_block { position: absolute; width: 555px; height: 613px; background: url(../img/form_bg.png) no-repeat; left: 353px; top: 5px; text-align: center; }
.header_form_block .form_inner { position: relative; padding-top: 75px; width: 410px; display: table; margin: 0 auto; }
.header_form_block h3 { position: relative; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; font-size: 33px; color: white; text-transform: uppercase; line-height: 1em; margin-bottom: 15px; }
.header_form_block h3:before { position: absolute; background: url('../img/icons-s71d911583d.png') 0 -555px no-repeat; width: 45px; height: 7px; top: 13px; left: 45px; content: ""; z-index: 1; }
.header_form_block h3:after { position: absolute; background: url('../img/icons-s71d911583d.png') 0 -555px no-repeat; width: 45px; height: 7px; top: 13px; right: 53px; content: ""; z-index: 1; }
.header_form_block h4 { font-family: "helveticaneuecyrmedium"; font-weight: normal; font-style: normal; font-size: 18px; color: white; text-transform: uppercase; line-height: 1.7em; letter-spacing: 2px; }
.header_form_block .form_send_block { margin-top: 35px; *zoom: 1; }
.header_form_block .form_send_block:after { content: " "; display: table; clear: both; }
.header_form_block .form_def-left { box-sizing: border-box; display: table; position: relative; margin-top: 16px; float: left; width: 145px; height: 128px; border-left: solid 1px rgba(255, 255, 255, 0.2); border-top: solid 1px rgba(255, 255, 255, 0.2); border-bottom: solid 1px rgba(255, 255, 255, 0.2); font-size: 12px; color: #c4c4c4; }
.header_form_block .form_def-left:before { position: absolute; content: ""; background: url('../img/icons-s71d911583d.png') 0 0 no-repeat; width: 37px; height: 37px; top: -20px; left: 36%; }
.header_form_block .form_def-left span { display: table-cell; vertical-align: middle; padding: 0 10px; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }
.header_form_block .form_right-left { float: left; margin-left: 3px; margin-bottom: 30px; }
.header_form_block h5 { color: #828282; font-size: 16px; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

input.error, textarea.error { box-shadow: inset 0 0 10px red !important; }

label.error { display: none !important; }

.icon { display: inline-block; position: relative; }

body { font-size: 17px; line-height: 1.4; background-color: white; color: black; *zoom: 1; }
body:after { content: " "; display: table; clear: both; }

.out { position: relative; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { font-size: 15px; color: #3b3b3b; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }
input:-moz-placeholder, textarea:-moz-placeholder { font-size: 15px; color: #3b3b3b; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { font-size: 15px; color: #3b3b3b; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-size: 15px; color: #3b3b3b; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }
input::placeholder, textarea::placeholder { font-size: 15px; color: #3b3b3b; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; }

.top .top_in, header .menu .menu_in, header .h1_in, header .header_in, .order .order_in, .facade .facade_in, .orderWide .orderWide_in, .inside .inside_in, .our_works .our_works_in, .orderMan .orderMan_in, .get .get_in, .certificates .certificates_in, .workers .workers_in, .reviews .reviews_in, .bottom .bottom_in, .bottom .questions .questions_in { max-width: 1200px; width: 1200px; margin-left: auto; margin-right: auto; }

.myFancyClose { position: absolute; top: 15px; right: 50px; }

.btn { display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; text-decoration: none; padding: 10px 20px; -webkit-transition: background, 0.5s; -moz-transition: background, 0.5s; -o-transition: background, 0.5s; transition: background, 0.5s; }

.title { text-align: center; color: black; font-size: 43px; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; text-transform: uppercase; line-height: 1.3em; }
.title span { padding: 0 5px; background: white; }
.title span span { line-height: 1em; color: white; display: inline-block; padding: 2px 10px; background: black; }

.top { height: 90px; background: black; *zoom: 1; }
.top:after { content: " "; display: table; clear: both; }
.top .top_in { *zoom: 1; }
.top .top_in:after { content: " "; display: table; clear: both; }
.top .top_logo { float: left; }
.top .top_right { float: right; margin-top: 16px; }
.top .top_right .top_button { float: left; display: inline-block; box-sizing: border-box; height: 50px; border: solid 4px #f03434; color: white; text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-decoration: none; font-size: 18px; padding: 7px 30px 0 55px; }
.top .top_right .top_button:hover span { border-bottom: none; }
.top .top_right .top_button span { position: relative; border-bottom: 2px solid #787878; }
.top .top_right .top_button span:before { position: absolute; background: url('../img/icons-s71d911583d.png') 0 -177px no-repeat; width: 28px; height: 28px; content: ""; top: -3px; left: -40px; }
.top .top_right .top_contacts { float: right; margin-left: 38px; margin-top: 0; color: white; line-height: 1.6em; }
.top .top_right .top_phone { font-size: 30px; display: inline-block; float: right; position: relative; font-family: "Georgia"; font-weight: normal; font-style: normal; }
.top .top_right .top_address { font-family: "helveticaneuecyrroman"; font-weight: normal; font-style: normal; color: #949494; font-size: 15px; padding-left: 12px; }

header { background: url(../img/photo_top.jpg) center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 965px; }
header .menu { margin-bottom: 35px; height: 60px; position: static; top: 0; bottom: auto; width: 100%; z-index: 999; background: rgba(0, 0, 0, 0.5); *zoom: 1; -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11); -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11); box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11); }
header .menu .menu_in { padding-top: 7px; *zoom: 1; }
header .menu .menu_in:after { content: " "; display: table; clear: both; }
header .menu:after { content: " "; display: table; clear: both; }
header nav { *zoom: 1; }
header nav:after { content: " "; display: table; clear: both; }
header nav ul { float: left; font-size: 14px; display: inline-block; color: white; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; }
header nav ul li { display: inline-block; margin-right: 28px; line-height: 1.2em; box-sizing: border-box; }
header nav ul li:last-child { margin-right: 0; border-right: none; }
header nav ul li:hover { color: #ff4848; border-bottom: solid #ff4848; }
header nav ul li.is-active { color: #ff4848; border-bottom: solid #ff4848; }
header nav ul li a { color: inherit; text-decoration: none; text-transform: uppercase; display: block; height: 32px; }
header h1 { text-align: center; text-transform: uppercase; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; font-size: 45px; background: white; display: table; margin: 0 auto; padding: 0 15px; }
header .header_line { width: 1070px; margin: 0 auto; position: relative; display: block; text-align: center; background: rgba(0, 0, 0, 0.8); height: 60px; }
header .header_line:after { position: absolute; content: ""; background: url('../img/icons-s71d911583d.png') 0 -100px no-repeat; width: 40px; height: 20px; bottom: -20px; left: 48%; }
header .header_line ul { font-size: 20px; text-transform: uppercase; float: left; margin-left: 60px; margin-top: 15px; }
header .header_line ul li { display: inline-block; position: relative; font-family: "helveticaneuecyrroman"; font-weight: normal; font-style: normal; color: white; margin-right: 45px; }
header .header_line ul li:last-child { margin-right: 0; }
header .header_line ul li:before { position: absolute; content: ""; background: url('../img/icons-s71d911583d.png') 0 -347px no-repeat; width: 21px; height: 22px; top: 2px; left: -30px; }
header .header_in { position: relative; *zoom: 1; }
header .header_in:after { content: " "; display: table; clear: both; }
header .header_in:after { position: absolute; content: ""; background: url('../img/icons-s71d911583d.png') 0 -248px no-repeat; width: 52px; height: 54px; top: 642px; left: 50%; }
header .header_ul-left { float: left; width: 405px; margin-left: -30px; margin-top: 185px; }
header .header_ul-left ul { text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; font-size: 18px; }
header .header_ul-left ul li { position: relative; display: inline-block; padding: 15px 40px 10px 60px; background: white; }
header .header_ul-left ul li.header_ico0:before { position: absolute; content: ""; left: 20px; background: url('../img/icons-s71d911583d.png') 0 -215px no-repeat; width: 25px; height: 23px; }
header .header_ul-left ul li.header_ico1:before { position: absolute; content: ""; left: 20px; background: url('../img/icons-s71d911583d.png') 0 -407px no-repeat; width: 29px; height: 20px; }
header .header_ul-left ul li.header_ico2:before { position: absolute; content: ""; left: 20px; background: url('../img/icons-s71d911583d.png') 0 -312px no-repeat; width: 26px; height: 25px; }
header .header_ul-left ul li.header_ico3:before { position: absolute; content: ""; left: 20px; background: url('../img/icons-s71d911583d.png') 0 -468px no-repeat; width: 21px; height: 21px; }
header .header_ul-left ul li.header_ico4:before { position: absolute; content: ""; left: 20px; background: url('../img/icons-s71d911583d.png') 0 -437px no-repeat; width: 21px; height: 21px; }
header .header_girl-right { float: right; position: relative; margin-top: 88px; margin-right: -20px; }

.order { position: relative; margin-top: 120px; border-top: 1px solid black; }
.order .order_in { width: 1140px; }
.order h2 { position: relative; top: -85px; }
.order .order_items { *zoom: 1; margin-top: -35px; }
.order .order_items:after { content: " "; display: table; clear: both; }
.order .order_item { display: inline-block; text-align: left; width: 340px; margin-right: 55px; margin-bottom: 40px; }
.order .order_item:nth-child(3n+3) { margin-right: 0; }
.order .order_item .order_img { -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); padding: 1px; line-height: 0; }
.order .order_item h3 { font-size: 23px; text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; margin-bottom: 24px; letter-spacing: -1px; }
.order .order_item p { font-size: 16px; font-family: "helveticaneuecyrroman"; font-weight: normal; font-style: normal; line-height: 1.1em; margin-bottom: 24px; }
.order .order_item .order_button { margin-top: 25px; display: block; text-align: center; font-size: 16px; text-decoration: none; height: 59px; padding: 18px 16px 0; box-sizing: border-box; letter-spacing: 1px; text-shadow: 0px 0px 1px black; }

.facade { position: relative; margin-top: 120px; border-top: 1px solid black; }
.facade .facade_in { width: 1220px; }
.facade .row { text-align: center; }
.facade h2 { position: relative; top: -85px; }
.facade .facade_items { *zoom: 1; margin-top: -35px; }
.facade .facade_items:after { content: " "; display: table; clear: both; }
.facade .facade_item { display: inline-block; text-align: left; width: 262px; margin-right: 46px; margin-bottom: 40px; }
.facade .facade_item:last-child { margin-right: 0; }
.facade .facade_item .facade_img { position: relative; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); padding: 1px; line-height: 0; }
.facade .facade_item .facade_img span { height: 43px; width: 260px; position: absolute; bottom: 1px; font-family: "helveticaneuecyrmedium"; font-weight: normal; font-style: normal; color: white; text-shadow: 0px 0px 1px #aaaaaa; display: block; text-align: center; text-transform: uppercase; font-size: 14px; box-sizing: border-box; padding-top: 20px; background: rgba(249, 33, 33, 0.8); }
.facade .facade_item h3 { font-size: 18px; text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; margin-bottom: 24px; letter-spacing: -1px; }

.orderWide { position: relative; background: url(../img/formWide_bg.png) center no-repeat; height: 462px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.orderWide .orderWide_in { width: 800px; position: relative; padding-top: 60px; *zoom: 1; }
.orderWide .orderWide_in:after { content: " "; display: table; clear: both; }
.orderWide h2 { color: white; font-size: 33px; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; display: table; margin: 0 auto; text-align: center; position: relative; background: url(../img/rectangle_red.png) center no-repeat; height: 147px; padding-top: 30px; box-sizing: border-box; text-transform: uppercase; }
.orderWide .form_send_block { margin-top: 35px; margin-left: 15px; }
.orderWide .form_send_block .form_bottom input { display: inline-block; width: 240px; margin-right: 18px; }
.orderWide .form_send_block .radio_toolbar { margin-left: 60px; margin-top: 22px; position: relative; }
.orderWide .form_send_block .radio_toolbar h5 { display: inline-block; float: left; position: relative; top: 2px; font-size: 16px; color: white; margin-right: 15px; }
.orderWide .form_send_block .radio_toolbar label { margin-right: 25px; }
.orderWide .form_send_block .radio_toolbar_auto { position: absolute; background: rgba(255, 255, 255, 0.2); top: 64px; left: 240px; content: ""; width: 150px; height: 1px; }

.orderWide_shadow { background: url(../img/orderWide_shadow.png) center no-repeat; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; height: 108px; margin-top: -50px; }

.inside { border-top: 1px solid black; margin-top: 40px; }
.inside .inside_in { width: 906px; *zoom: 1; }
.inside .inside_in:after { content: " "; display: table; clear: both; }
.inside .inside_in h2 { top: -27px; position: relative; }
.inside .inside_in h3 { font-size: 16px; text-transform: uppercase; text-align: center; font-family: "helveticaneuecyrmedium"; font-weight: normal; font-style: normal; margin-top: -10px; }
.inside .inside_items { margin-top: 50px; }
.inside .inside_item { display: inline-block; text-align: left; width: 260px; margin-right: 46px; margin-bottom: 40px; }
.inside .inside_item:nth-of-type(3n+3) { margin-right: 0; }
.inside .inside_item h4 { font-size: 18px; text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; margin-bottom: 20px; letter-spacing: -1px; }
.inside .inside_item p { font-size: 15px; font-family: "helveticaneuecyrmedium"; font-weight: normal; font-style: normal; margin-bottom: 10px; display: inline-block; height: 50px; }

.our_works { border-top: 1px solid black; margin-top: 20px; }
.our_works .our_works_in { position: relative; width: 1138px; *zoom: 1; }
.our_works .our_works_in:after { content: " "; display: table; clear: both; }
.our_works h2 { top: -27px; position: relative; }
.our_works .our_works_slider { margin-top: 10px; *zoom: 1; }
.our_works .our_works_slider:after { content: " "; display: table; clear: both; }
.our_works .our_works_slider .slider_item { vertical-align: top; display: inline-block; text-align: left; width: 340px; margin-right: 46px; margin-bottom: 40px; }
.our_works .our_works_slider .slider_item:last-child { margin-right: 0; }
.our_works .our_works_slider .our_works_img { position: relative; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); box-shadow: 0 0 4px rgba(0, 0, 0, 0.56); padding: 1px; line-height: 0; }
.our_works .our_works_slider h3 { font-size: 16px; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-transform: uppercase; margin-top: 20px; }
.our_works .our_works_slider h3 a { color: #0054ff; }
.our_works .our_works_slider h3 a:hover { text-decoration: none; }

.orderMan { position: relative; background: url(../img/other_bg.png) center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 611px; z-index: 3; }
.orderMan .orderMan_in { width: 950px; position: relative; padding-top: 95px; margin-left: 235px; }
.orderMan .orderMan_in .om_h2 { position: relative; background: url(../img/white_rectangle.png) no-repeat 105px 8px; height: 160px; font-family: "Georgia"; font-weight: normal; font-style: normal; font-size: 25px; font-weight: bold; box-sizing: border-box; text-transform: uppercase; padding-top: 40px; letter-spacing: 1px; }
.orderMan .orderMan_in .om_h2:before { position: absolute; content: ""; background: url(../img/arrow_white.png) no-repeat; width: 565px; height: 91px; top: -55px; left: 180px; }
.orderMan .orderMan_in .om_h2:after { content: ""; position: absolute; background: url('../img/icons-s71d911583d.png') 0 -47px no-repeat; width: 12px; height: 43px; top: 75px; }
.orderMan .orderMan_in .om_h2 span { display: inline-block; padding: 6px 10px; background: white; line-height: 1em; }
.orderMan .img_man { position: absolute; top: 130px; left: -340px; }
.orderMan ul { position: relative; display: inline-block; width: 360px; margin-left: 70px; margin-top: 40px; }
.orderMan ul:before { content: ""; position: absolute; background: url(../img/cube.png); width: 55px; height: 56px; top: 0; left: -70px; }
.orderMan ul li { font-size: 22px; font-family: "helveticaneuecyrroman"; font-weight: normal; font-style: normal; }
.orderMan ul li span { padding: 4px 8px; background: white; }
.orderMan .header_form_block { top: 110px; left: 440px; }

.steps { background: url(../img/steps_bg.png) center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 1602px; margin-top: -160px; position: relative; }

.get { margin-top: -120px; padding-top: 220px; background: url(../img/stripes_bg.png) repeat; height: 744px; box-sizing: border-box; }
.get .get_stroke { position: relative; border-top: solid 1px black; }
.get .get_in { width: 1120px; position: relative; }
.get .get_in:after { background: url(../img/get_red.png) no-repeat; content: ""; top: 165px; left: -90px; width: 1260px; height: 334px; position: absolute; }
.get h2 { position: relative; margin-top: -85px; }
.get .get_items { margin-top: 50px; position: relative; }
.get .row { margin-bottom: 50px; position: relative; }
.get .row:first-child:after { position: absolute; content: ""; top: 157px; background: rgba(141, 141, 141, 0.2) no-repeat; width: 1064px; height: 1px; }
.get .get_item { display: inline-block; width: 360px; margin-right: 14px; position: relative; }
.get .get_item:after { position: absolute; content: ""; background: rgba(141, 141, 141, 0.2) no-repeat; width: 1px; height: 144px; top: 23px; left: 364px; }
.get .get_item:last-child { margin-right: 0; }
.get .get_item:nth-child(3n+3):after { background: none; }
.get .get_item .get_img { float: left; height: 45px; margin-right: 12px; margin-top: 5px; }
.get .get_item h3 { font-size: 17.2px; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-transform: uppercase; margin-bottom: 5px; letter-spacing: -1px; }
.get .get_item p { font-size: 16px; font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; width: 300px; float: left; }

.certificates { margin-top: 30px; }
.certificates .certificates_in { position: relative; width: 1120px; }
.certificates h2 { font-family: "Georgia"; font-weight: normal; font-style: normal; font-size: 35px; font-weight: bold; text-align: center; text-transform: uppercase; line-height: 1.2em; }
.certificates h3 { font-family: "helveticaneuecyrmedium"; font-weight: normal; font-style: normal; font-size: 16px; text-transform: uppercase; text-align: center; margin-top: 15px; margin-bottom: 35px; }
.certificates .certificates_slider { margin-top: 10px; *zoom: 1; }
.certificates .certificates_slider:after { content: " "; display: table; clear: both; }
.certificates .certificates_slider .slider_item { vertical-align: top; display: inline-block; text-align: left; width: 241px; margin-right: 42px; }
.certificates .certificates_slider .slider_item:last-child { margin-right: 0; }
.certificates .certificates_slider .certificates_img { position: relative; line-height: 0; }
.certificates .prev, .certificates .next { top: 60%; }

.wide2 { background: url(../img/formWide_bg2.png) center no-repeat; height: 537px; }
.wide2 .orderWide_in { padding-top: 120px; }
.wide2 .orderWide_in .form_send_block .radio_toolbar_auto { background: none; }

.workers { background: url(../img/dots_bg.png) repeat; height: 510px; -webkit-box-shadow: 0 0 13px -2px black; -moz-box-shadow: 0 0 13px -2px black; box-shadow: 0 0 13px -2px black; }
.workers .workers_in { padding-top: 50px; width: 1140px; position: relative; }
.workers .workers_in .prev { top: 60%; left: -40px; }
.workers .workers_in .next { top: 60%; right: -31px; }
.workers h2 { font-size: 35px; }
.workers h3 { font-size: 16px; text-transform: uppercase; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-align: center; }
.workers .workers_slider { margin-top: 70px; }
.workers .workers_slider .workers_item { display: inline-block; width: 215px; text-align: center; margin-right: 10px; }
.workers .workers_slider .workers_item:nth-child(5n+5) { margin-right: 0; }
.workers .workers_slider .workers_item .workers_img { margin-bottom: 20px; }
.workers .workers_slider .workers_item .workers_img img { width: 180px; height: 180px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.reviews { box-sizing: border-box; background: url(../img/stripes_bg.png) repeat; height: 506px; padding-top: 120px; }
.reviews .reviews_stroke { border-top: 1px solid black; }
.reviews .reviews_in { width: 1140px; position: relative; }
.reviews .reviews_in .prev { top: 60%; }
.reviews .reviews_in .next { top: 60%; }
.reviews h2 { margin-top: -85px; }
.reviews .reviews_slider { margin-top: 60px; }
.reviews .reviews_slider .reviews_item { vertical-align: top; width: 560px; display: inline-block; }
.reviews .reviews_slider .reviews_item .reviews_img { float: left; margin-right: 15px; }
.reviews .reviews_slider .reviews_item .reviews_img img { width: 180px; height: 180px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.reviews .reviews_slider .reviews_item .reviews_text { text-align: left; font-size: 16px; float: left; width: 350px; }
.reviews .reviews_slider .reviews_item .reviews_text h3 { font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-transform: uppercase; margin-bottom: 10px; }
.reviews .reviews_slider .reviews_item .reviews_text p { font-family: "helveticaneuecyrlight"; font-weight: normal; font-style: normal; color: #2a2a2a; }
.reviews .reviews_slider .reviews_item .social { margin-top: 15px; }
.reviews .reviews_slider .reviews_item .social .vk, .reviews .reviews_slider .reviews_item .social .fb, .reviews .reviews_slider .reviews_item .social .ok { display: inline-block; }

.bottom { background: url(../img/bottom_bg.jpg) center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 1188px; padding-top: 85px; box-sizing: border-box; }
.bottom .bottom_in { position: relative; *zoom: 1; }
.bottom .bottom_in:after { content: " "; display: table; clear: both; }
.bottom .bottom_in:after { position: absolute; content: ""; background: url('../img/icons-s71d911583d.png') 0 -248px no-repeat; width: 52px; height: 54px; top: 610px; left: 45%; }
.bottom .bottom_left { *zoom: 1; }
.bottom .bottom_left:after { content: " "; display: table; clear: both; }
.bottom h2 { text-align: left; display: table; padding: 0 5px; line-height: 1.2em; background: white; text-transform: uppercase; letter-spacing: 2px; font-family: "Georgia"; font-weight: normal; font-style: normal; font-weight: bold; color: #ff0b0b; font-size: 42px; }
.bottom h2 span { color: black; font-size: 39px; }
.bottom .present { margin-top: 45px; *zoom: 1; }
.bottom .present:after { content: " "; display: table; clear: both; }
.bottom .present .present_img { float: left; margin-right: 15px; }
.bottom .present .present_img img { width: 136px; height: 136px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 6px solid #191919; background-clip: padding-box; }
.bottom .present h3 { font-size: 20px; font-family: "Georgia"; font-weight: normal; font-style: normal; text-transform: uppercase; color: white; padding-top: 15px; }
.bottom .present h4 { text-align: left; display: table; padding: 0 4px; background: #fe2d2d; font-size: 25px; font-family: "helveticaneuecyrbold"; font-weight: normal; font-style: normal; text-transform: uppercase; color: white; }
.bottom .bottom_form_block { left: 492px; top: -33px; *zoom: 1; }
.bottom .bottom_form_block:after { content: " "; display: table; clear: both; }
.bottom .bottom_girl-right { float: right; margin-right: -125px; margin-top: -513px; }
.bottom .questions { margin-top: 220px; text-align: center; }
.bottom .questions .questions_in { *zoom: 1; width: 800px; }
.bottom .questions .questions_in:after { content: " "; display: table; clear: both; }
.bottom .questions .h2_questions { font-family: "Georgia"; font-weight: normal; font-style: normal; font-size: 45px; font-weight: bold; display: inline; color: black; background: none; }
